/* Styling for sidebar that shows tokens, with a column layout */
.sidebar-tokens {
    background-color: #51aeff;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Specific styling for the token count area within the sidebar */
  .token-count {
<<<<<<< Updated upstream
    background-color: #38a2ff;
=======
    background-color: #45a8ff;
>>>>>>> Stashed changes
    padding: 1rem;
    border-radius: 5px;
  }

  /* Styling for the fixed sidebar on the right, providing constant access to navigation */
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px; 
    overflow-y: auto;
<<<<<<< Updated upstream
    background-color: #727272;
    color: white;
=======
    background-color: #2ad4ff;
    color: rgb(73, 255, 149);
>>>>>>> Stashed changes
    padding: 1rem;
    z-index: 1000;
  }